@charset "UTF-8";






body{
    background-color: rgba(151, 147, 147, 0.877);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h1{
    background-image: linear-gradient(to right, black , gray);
    text-shadow: 1px 1.5px rgb(163, 15, 15);
    color: white;
    
}



p{
    text-align: justify;
    text-indent: 30px;
    text-shadow: 1px 1.3px rgb(163, 15, 15);
    color: white;
    padding: 5px;
}


a{

    color:black;
}


a:hover{
    color: white;
    text-shadow: 1px 1.3px rgb(163, 15, 15);
}


