 @charset "UTF-8";

 *{ 
font-family: Arial, Helvetica, sans-serif;
/*height: 100; */

 }
 body{
     background-image:linear-gradient(to right,#F2CEA2,#F28241);
 }
 main{
     background-color: white;
     border-radius: 10px;
     box-shadow: 5px 5px 15px #96532cc4;
     width: 600px;
     padding: 10px;
     margin: auto;
     
 }
 h1{
color: #d8590f;
text-align: center;
text-shadow: 1px 1px 2px #d8590fd4;
 
 }
 h2{
color: #025959b3;
 }
 p{
     text-align: justify;
 }