@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');



*{
    padding: 0px;
    margin: 0px;
}


body{
    background-color: black;
    font-family: Open Sans;

    
}
main{
    background-image: linear-gradient(to bottom,rgba(63, 61, 61, 0.549),rgba(0, 0, 0, 0.268));
    height: 1000px;
    width: auto;
    margin: auto;
    
}
div.aff{
    text-align: center;
}

main h1{
    padding-bottom: 3px;
   color: white;
    margin: 5px;
}
main>h2{
    padding: 3px;
      background-image: linear-gradient(to right,yellow,black
    );
    margin: 10px;
}
main>img{
    padding: 20px;
}
h1,h2{
    color: black;
    font-weight: bold;
    
}
main>p{
    color: white;
    padding: 10px;
    text-indent: 30px;
    font-size: 1.1em;
    text-align: justify;

}

aside{
    padding: 5px;
    margin: 10px;
}
aside>h2{
    background-image: linear-gradient(to right,yellow,black
    );
    margin: 15px;
    
}

a{
    padding: 10px;
    color: white;
    margin-right: 1px;
}
a:hover{
    color: yellow;
}
footer{
    text-align: center;
    background-image: linear-gradient(to right,yellow,black);
    font-weight: bolder;
    color: black

}



/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif; */